GDRIVE_PARENT_FOLDER_ID=
PYTHON_VERSION=3.10
LOCAL_DOWNLOADS_DIR=/path/to/your/downloads
CONTAINER_DOWNLOADS_DIR=/Downloads/
MODAL_SECRET_NAME=google_drive_secret
GDRIVE_ROOT_FOLDER_NAME=Classified_Posts
MODAL_GPU_CONFIG=L40S
LOG_LEVEL=INFO
SERVICE_ACCOUNT_JSON_PATH=/path/to/your/service-account.json

CLIP_CONFIDENCE_THRESHOLD=0.9

TEXT_CONFIDENCE_THRESHOLD=0.9
TEXT_CLASSIFIER_MODEL=valhalla/distilbart-mnli-12-3

CLASSIFICATION_FOLDER_ID=

# Set to False to disable linear probe and use zero-shot fallback
# USE_LINEAR_PROBE=False

OPIOID_RELATED_FOLDER_ID=
NEUTRAL_CONTENT_FOLDER_ID=
ERROR_FOLDER_ID=
